
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="vi">
	<head>
		<meta charset="utf-8">
		 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Miền Nam</title>
		 
		<link rel="stylesheet" href="css/zone_1.css">
		<script src="foundation/js/jquery.js"></script>
		<link rel="stylesheet" href="foundation/css/normalize.css">
		<link href='foundation/css/foundation.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="foundation/css/foundation.min.css">
		<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/offcanvas.css">
		<script src="js/offcanvas.js"></script>

		<!-- khai báo cho phần ảnh đầu trang -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<!-- <script src="modernizr.min.js"></script> -->
		<link rel="stylesheet" href="css/pic_head.css">
		<script src="pic_head.js"></script>
		
		<!-- khai báo cho sách ảnh -->
		<link rel="stylesheet" type="text/css" href="css/book.css">

		<!-- khai báo cho phần bảng -->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="DataTables/media/js/jquery.dataTables.min.js"></script>
		<script src="DataTables/media/js/dataTables.foundation.min.js"></script>
		<link rel="stylesheet" href="DataTables/media/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="css/table.css">
		<script>
			$(document).ready(function () {
    			var table = $('.table_id').dataTable();
    			$("#content-table1").hide();
    			$("#content-table2").hide();

				$("#head1").click(function(){
					$("#content-table1").toggle();
				});
				$("#head2").click(function(){
					$("#content-table2").toggle();
				});
			});
		</script>
	</head>
	<body>
		<aside>
		    <div class='in-nav'>
			    <div class="title">Sidebar</div>
				    <ul>
				      <li><a class="action" href="home.html">Trang chủ</a></li>
				      <li id="submenu"><a>Diễn đàn</a>
					      <ul class="sub">
			                <li><a href="B-zone.html">Miền Bắc</a></li>
			                <li><a href="T-zone.html">Miền Trung</a></li>
			                <li><a href="N-zone.html">Miền Nam</a></li>
		              </ul></li>
				      <li><a href="lienhe.html">Liên hệ</a></li>
				    </ul>
			  	</div>
		</aside>
  		<a id="nav-toggle" href="#!" class="position"><span></span></a>
		<main>
				<div class="row">
					<nav>
						  	<ul>
							    <li><a href="home.html">Trang chủ</a></li>
							    <li><a href="B-zone.html">Diễn đàn</a></li>
							    <li><a href="lienhe.html">Liên hệ</a></li>
							    <li><a href="login.html">Đăng nhập</a></li>
						  	</ul>
					</nav>
				</div>

				<!-- phần sách ảnh -->
				<div id="pic_book" class="row">
			        <div class="book bound">
			          <div class="pages">
			            <div class="page">
			            </div>
			            <div class="page"><!--endpaper--></div>
			            <div class="page"><!--endpaper--></div>
			            <div class="page"><!--colophon--></div>
			            <div class="page"><!--title--></div>
			            <div class="page"><!--01--></div>
			            <div class="page">There was a boy<br>Who had it rough</div>
			            <div class="page">His adventure<br>Was to be tough</div>
			            <div class="page"><!--04--></div>
			            <div class="page"><!--05--></div>
			            <div class="page">He knew his Mother<br>Had left this land</div>
			            <div class="page">He knew his Father<br>Like the back of his hand</div>
			            <div class="page"><!--08--></div>
			            <div class="page">There were monsters<br>He had to fight</div>
			            <div class="page"><!--10--></div>
			            <div class="page"><!--11--></div>
			            <div class="page">He sometimes hid<br>He never cried</div>
			            <div class="page">There was a boy<br>Who was afraid</div>
			            <div class="page">Who wore armour<br>That he had made</div>
			            <div class="page"><!--15--></div>
			            <div class="page">There was a boy<br>Who met a girl</div>
			            <div class="page"><!--17--></div>
			            <div class="page">He met a girl<br>Who changed his world</div>
			            <div class="page"><!--19--></div>
			            <div class="page">Who saw the armour<br>And looked inside</div>
			            <div class="page">And inside…</div>
			            <div class="page"><!--22--></div>
			            <div class="page">There was a boy.</div>
			            <div class="page"><!--24--></div>
			            <div class="page"><!--endpaper--></div>
			            <div class="page"><!--endpaper--></div>
			            <div class="page"><!--backcover--></div>
			          </div>
			        </div>
		    	</div> <!-- end sách ảnh -->
				
				<div class="row" id="map">
					<p>...</p>
				</div>
				
				<!--phần hình ảnh-->
				<div class="row">

					<div class="portfolio-wrapper">
					    <div>
					        <div class="portfolio creek-masonry-750 col-3 gutter">
				                <div class="post-1533 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-media portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="469" src="http://creek.themebucket.net/wp-content/uploads/2015/09/1.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="1" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Elegant Chair</h4>
				                                <div>
				                                	<p>Scholarly interest in creativity involves many definitions and concepts pertaining to a number of disciplines: &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1532 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-web portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="938" src="http://creek.themebucket.net/wp-content/uploads/2015/09/5.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="5" />                            
				                        <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Portfolio Variation</h4>
				                                <div>
				                                	<p>Scholarly interest in creativity involves many definitions and concepts pertaining to a number of disciplines: &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1531 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-media portfolio-tag-web portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="563" src="http://creek.themebucket.net/wp-content/uploads/2015/09/08b.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="08b" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Simple Variation</h4>
				                                <div>
				                                	<p>Creativity is a phenomenon whereby something new and somehow valuable is formed. The created item &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1445 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-crafts portfolio-tag-illustration portfolio-tag-media portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="469" src="http://creek.themebucket.net/wp-content/uploads/2015/09/09.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="09" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Easy to Customize</h4>
				                                <div>
				                                	<p>A stream is a body of water[1] with a current, confined within a bed and &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1444 type-portfolio status-publish has-post-thumbnail hentry portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="938" src="http://creek.themebucket.net/wp-content/uploads/2015/09/7.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="7" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Amazing Blog</h4>
				                                <div>
				                                	<p>A blog (a truncation of the expression weblog)[1] is a discussion or informational site published &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1442 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-creative portfolio-tag-web portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="469" src="http://creek.themebucket.net/wp-content/uploads/2015/09/9.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="9" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Bootstrap 3+</h4>
				                                <div>
				                                	<p>Bootstrap is a free and open-source collection of tools for creating websites and web applications. &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1441 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-web portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="563" src="http://creek.themebucket.net/wp-content/uploads/2015/09/07c.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="07c" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Full Responsive</h4>
				                                <div>
				                                	<p>A site layout example that adapts to browser viewport width was first demonstrated by Cameron &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>

					            
				                <div class="post-1440 type-portfolio status-publish has-post-thumbnail hentry portfolio-tag-web portfolio-item">
				                    <a href="#" class="thumb">
				                        <img width="750" height="469" src="http://creek.themebucket.net/wp-content/uploads/2015/09/6.jpg" class="attachment-creek-masonry-750 wp-post-image" alt="6" />                            <div class="portfolio-hover">
				                            <div class="portfolio-description">
				                                <h4>Clean Code</h4>
				                                <div>
				                                	<p>Many computer programs remain in use for far longer than the original authors ever envisaged &#8230;</p>
												</div>
				                            </div>
				                        </div>
				                    </a>
				                </div>	            
					        </div>    
					    </div>
					</div>
				</div>
				<!-- end phần hình ảnh -->
				 
				<div id="noi_dung">
				<div class="row"><!--  phần bảng thông tin chung-->
					<div class="table-users"> <!-- table user -->
			           	<div class="header" id="head1"><a>Thông tin chung</a></div>
			           	<div id="content-table1">
			            <table class="table_id" cellspacing="0" width="100%">
			                <thead>
			                    <tr>
			                        <th>Ảnh đại diện</th>
			                        <th>Tác giả</th>
			                        <th>Thời điểm</th>
			                        <th>Tiêu đề</th>
			                        <th>Nội dung</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>date time</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>      
			                </tbody>
			            </table>
			          	</div>
			        </div>
				</div> <!-- end bảng thông tin chung-->
				
				<div class="row"><!--  phần bảng nội dung-->
					<div class="table-users"> <!-- table user -->
			           	<div class="header" id="head2"><a>Bài viết</a></div>
			           	<div id="content-table2">
			            <table class="table_id" cellspacing="0" width="100%">
			                <thead>
			                    <tr>
			                        <th>Ảnh đại diện</th>
			                        <th>Tác giả</th>
			                        <th>Thời điểm</th>
			                        <th>Tiêu đề</th>
			                        <th>Nội dung</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>date time</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
			                        <td>John Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
			                    </tr>

			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/9" alt="" /></td>
			                        <td>Jane Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
			                    </tr>
			                          
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/3" alt="" /></td>
			                        <td>John Smith</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
			                    </tr>
			                    <tr>
			                        <td><img class="img-table"src="http://lorempixel.com/100/100/people/1" alt="" /></td>
			                        <td>Jane Doe</td>
			                        <td>date time</td>
			                        <td>01 800 2000</td>
			                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
			                    </tr>      
			                </tbody>
			            </table>
			          	</div>
			        </div>
				</div> <!-- end bảng nội dung-->
				</div>

				<div class="row">
				 
					<div class="large-9 columns" role="content">
						</br>
						</br>
						<p>Số lượng thành viên đang trực tuyến: </p>
					</div>
				</div>
				 
				 
				<footer class="footer">
					<div class="row">
					    <div id= "menu_footer"class="small-12 columns">
					      <p class="links">
					        <a href="home.html">Trang chủ</a>
					        <a href="#">Forum</a>
					        <a href="lienhe.html">Liên hệ</a>
					        <a href="#">Đăng nhập</a>
					      </p>
					      <p class="copywrite">Copyright &copy; KyoeraFox 2016</p>
					    </div>
			  		</div>
				</footer>
				<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
				<script>
				    $(document).foundation();
				 </script>
				 <script src='jquery.min.js'></script>
		 -->
		</main>
		<script src="js/book.js"></script>
	</body>
</html>
