<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<title>404</title>
	<link rel="stylesheet" href="foundation/css/normalize.min.css">
	<link rel="stylesheet" href="foundation/css/foundation.min.css">
	<link href='foundation/css/foundation.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="404.css">
</head>
<body>
	<div>
		<div class="inner">
			<h1>Page Not Found</h1>
			<p>We Cannot Find The Page You're Looking for on Our Server.</p>
			<a href="home.html" id="button">Go home</a>
		</div>
	</div>
</body>
</html>