
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="vi">
	<head>
		<meta charset="utf-8">
		 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bài viết</title>
		 
		<link rel="stylesheet" href="zone_1.css">
		<script src="foundation/js/jquery.js"></script>
		<link rel="stylesheet" href="foundation/css/normalize.css">
		<link href='foundation/css/foundation.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="foundation/css/foundation.min.css">
		<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/offcanvas.css">
		<script src="js/offcanvas.js"></script>
		<link rel="stylesheet" type="text/css" href="Blog.css">
		<script src="Blog.js"></script>

	</head>
	<body>
		<aside>
		    <div class='in-nav'>
			    <div class="title">Sidebar</div>
				    <ul>
				      <li><a class="action" href="home.html">Trang chủ</a></li>
				      <li id="submenu"><a>Diễn đàn</a>
					      <ul class="sub">
			                <li><a>Miền Bắc</a></li>
			                <li><a>Miền Trung</a></li>
			                <li><a>Miền Nam</a></li>
		              </ul></li>
				      <li><a href="lienhe.html">Liên hệ</a></li>
				    </ul>
			  	</div>
		</aside>
  		<a id="nav-toggle" href="#!" class="position"><span></span></a>
		<main>
		<div class="row">
					<nav>
						  	<ul>
							    <li><a href="home.html">Trang chủ</a></li>
							    <li><a href="B-zone.html">Diễn đàn</a></li>
							    <li><a href="lienhe.htm">Liên hệ</a></li>
							    <li><a href="login.html">Đăng nhập</a></li>
						  	</ul>
					</nav>
							</div>
			<!-- <div class="wrapper"> -->
	
			<div class="parallax">
				
				<div class="row">
					<div>
						<img src="img/MienNam/CanTho.jpg">
					</div>
				</div>
			
			<section class="page-main">
			  <div class="row">
			  <div class="post-content" class="row">
			    <div class="post-title"><h2><a href="#">Trải Nghiệm Du Lịch Phượt Cần Thơ</a></h2></div>
			    <div class="post-info">
			      <span><i class="fa fa-user"></i><a href="#"> PA </a></span>
			      <span><i class="fa fa-calendar"></i> 14 March 2014 </span>
			      <span><i class="fa fa-clock-o"></i> 21:15 </span>
			      <span><i class="fa fa-tags"></i>
			        <a href="#"> phượt </a>,
			        <a href="#"> CanTho </a>
			      </span>
			      <span><i class="fa fa-comments"></i><a href="#"> 5 comments </a></span>
			    </div>
			    <div class="post-content-box" >
			      <p>Cần Thơ gạo trắng nước trong; Ai đi đến đó lòng không muốn về. Câu ca dao như nói lên tất cả về một miền đất trù phú được thiên nhiên ưu đãi. Đến Cần Thơ bạn sẽ được thăm quan chợ nổi Cái Răng, các miệt vườn hoa trái quanh năm. Mùa hoa quả nhiều nhất là mùa hè, bạn có thể đi vào các khu vườn, nếm đủ các loại trái cây của xứ Nam Bộ. Riêng vào dịp rằm tháng chạp và rằm tháng 4, có 2 lễ hội lớn tại đình Bình Thủy là lễ Thượng Điền và lễ Hạ Điền. Đây là một trong 3 lễ hội lớn nhất miền Tây.
				  <br/>
				  Để có một chuyến đi du lịch Cần Thơ thành công bạn có thể tham khảo qua một số thông tin dưới đây của Tôi.
					</p>
			      <p><img src="img/MienNam/cantho2.jpg" alt="" /></p>
			      <p>
			      	<h4>Đi Cần Thơ như thế nào</h4>
					<br/>
					Bạn có thể đi máy bay hoặc xe khách tới Cần Thơ. Từ sân bay Cần Thơ về trung tâm hoặc bến Ninh Kiều giá taxi khoảng 200k. Với xe đò từ Sài Gòn bạn có thể chọn các hãng xe Phương Trang, Kumho Samco, Mai Linh v.v.v. Liên hệ các nhà xe để biết điểm đón (tại bến xe miền tây, hoặc mua vé tại Lê Hồng Phong, từ đây sẽ có xe trung chuyển ra bến xe).
					<br/>
					<br/>
					Đi lại ở Cần Thơ bạn có thể đi taxi hoặc thuê xe máy ở khu bến Ninh Kiều, khu tập trung dân du lịch. Ở đây cũng tiện mua tour du lịch đi các khu sinh thái, chợ nổi. Hoặc tự đi nếu đi nhóm đông.
					<br/>
					<br/>
					<br/>

					<p><img src="img/MienNam/cantho1.jpg" alt="" /></p>
					<h4>Chợ Nổi Cái Răng</h4>
					<br/>
					Các điểm thăm quan du lịch chính ở Cần Thơ phải kể đến Chợ Nổi Cái Răng, chợ này đông vui và náo nhiệt nhất. Cũng vì đó mà khách du lịch đổ về đây khá nhiều. Ngoài ra bạn cũng có thể đi Chợ nổi Phong Điền, ít khách du lịch về chợ nổi này. Do đó chợ khá tự nhiên, tuy nhiên nếu đi muộn thì không được thăm chợ, chợ tan sớm
			      </p>
			    </div>
			  </div>
			  <div id="comments">
			    <h4 class="nc-title">4 Comments</h4>
			    <ol class="commentlist">
			      <li class="comment">
			        <div id="comment">
			          <div class="comment-author">
			            <img src="http://goo.gl/ZNYBaU" alt="" class="avatar" />
			            <span class="fn"><span>Roswell Parian</span></span>
			            <span class="ago">March 14, 2014</span>
			            <span class="comment-meta"></span>
			          </div>
			          <div class="commentmetadata">
			            <div class="commenttext">
			              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			              <span class="reply"><a href="#" class="comment-reply-link">Reply</a></span>
			            </div>
			          </div>
			        </div>
			      </li>
			      <ul class="children">
			        <li class="comment">
			        <div id="comment">
			          <div class="comment-author">
			            <img src="http://goo.gl/3TKe8H" alt="" class="avatar" />
			            <span class="fn"><span>Emily Rudd</span></span>
			            <span class="ago">March 12, 2014</span>
			            <span class="comment-meta"></span>
			          </div>
			          <div class="commentmetadata">
			            <div class="commenttext">
			              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			              <span class="reply"><a href="#" class="comment-reply-link">Reply</a></span>
			            </div>
			          </div>
			        </div>
			      </li>
			      </ul>
			      <li class="comment">
			        <div id="comment">
			          <div class="comment-author">
			            <img src="http://goo.gl/hMaJZ3" alt="" class="avatar" />
			            <span class="fn"><span>Parian Palvin</span></span>
			            <span class="ago">March 10, 2014</span>
			            <span class="comment-meta"></span>
			          </div>
			          <div class="commentmetadata">
			            <div class="commenttext">
			              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			              <span class="reply"><a href="#" class="comment-reply-link">Reply</a></span>
			            </div>
			          </div>
			        </div>
			      </li>
			      <li class="comment">
			        <div id="comment">
			          <div class="comment-author">
			            <img src="http://goo.gl/frL61u" alt="" class="avatar" />
			            <span class="fn"><span>Parian Mohn</span></span>
			            <span class="ago">March 4, 2014</span>
			            <span class="comment-meta"></span>
			          </div>
			          <div class="commentmetadata">
			            <div class="commenttext">
			              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			              <span class="reply"><a href="#" class="comment-reply-link">Reply</a></span>
			            </div>
			          </div>
			        </div>
			      </li>
			    </ol>
			  </div>  
			  <div id="commentNew">
			    <div id="boxNew" class="box-New">
			      <h4 class="nc-title">New Comment</h4>
			      <form action="" id="commentform" method="post" onsubmit="doSubmit(this)">
			        <div class="nc-form-fields">
			          <p id="comment_author_wrapper">
			            <input name="author" type="text" id="comment_author" class="placeholder" placeholder="Name*" />
			          </p>
			          <p id="comment_authoremail_wrapper">
			            <input name="authoremail" type="text" id="comment_authoremail" class="placeholder" placeholder="Email*" />
			          </p>
			          <p id="comment_authorurl_wrapper">
			            <input name="authorurl" type="text" id="comment_authorurl" class="placeholder" placeholder="Website" />
			          </p>
			        </div>
			        <p id="comment_text_wrapper">
			          <textarea name="comment" id="comment_text" class="placeholder" placeholder="Comment Text*" cols="45" rows="16"></textarea>
			        </p>
			        <p id="comment_submit_wrapper">
			          <input name="submit" id="comment_submit" type="submit" value="Post Comment" />
			          <input name="commentid" type="hidden" value="" />
			        </p>
			      </form>
			    </div>
			  </div>
			  <!-- </div> -->
			</section>  
		
			</div>
				<footer class="footer">
					<div class="row">
					    <div id= "menu_footer"class="small-12 columns">
					      <p class="links">
					        <a href="home.html">Trang chủ</a>
					        <a href="#">Forum</a>
					        <a href="lienhe.html">Liên hệ</a>
					        <a href="#">Đăng nhập</a>
					      </p>
					      <p class="copywrite">Copyright &copy; KyoeraFox 2016</p>
					    </div>
			  		</div>
				</footer>
				<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
				<script>
				    $(document).foundation();
				 </script>
				 <script src='jquery.min.js'></script>
		 -->
		</main>
		<script src="book.js"></script>
	</body>
</html>
