
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="vi">
	<head>
		<title>Trang chủ</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="foundation/css/normalize.min.css">
		<link rel="stylesheet" href="foundation/css/foundation.min.css">
		<link href='foundation/css/foundation.css' rel='stylesheet' type='text/css'>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="offcanvas.css">
		<link rel="stylesheet" href="home.css">

	 
		<script src="foundation/js/jquery.js"></script>
		<script src="foundation/js/jqFancyTransitions.js"></script>
		<script src="offcanvas.js"></script>
		<script src="chuc_nang.js"></script>
	</head>
	<body>
		<aside>
		    <div class='in-nav'>
			    <div class="title">Sidebar</div>
				    <ul>
				      <li><a class="action" href="home.html">Trang chủ</a></li>
				      <li id="submenu"><a>Diễn đàn</a>
					      <ul class="sub">
			                <li><a>Miền Bắc</a></li>
			                <li><a>Miền Trung</a></li>
			                <li><a>Miền Nam</a></li>
		              </ul></li>
				      <li><a href="lienhe.html">Liên hệ</a></li>
				    </ul>
			  	</div>
		</aside>
  		<a id="nav-toggle" href="#!" class="position"><span></span></a>
		<main>
		  	<header class="header"><!--header-->
			  	<ul class="header-subnav">
				    <li><a href="home.html" class="is-active">Trang chủ</a></li>
				    <li> <!--class ="has-dropdown"-->
				    	<a href="#" >Forum</a>
				    	<ul></ul>
				    </li>
				    <li><a target="_blank" href="lienhe.html">Liên hệ</a></li>
			  	</ul>
			</header><!--end header-->
		 
		 
			<div id="row1" class="row"><!--slideshow-->
				<div id="slide1"class="large-4 columns">
					<img src="img/slide9.jpg">
					<img src="img/slide9.jpg">
					<img src="img/slide9.jpg">
				</div>
				<div class="large-8 columns">
					<div class="row">
						<div id="slide2"class="large-6 columns">
							<img src="img/slide11.jpg"/>
							<img src="img/slide9.jpg">
							<img src="img/slide9.jpg">
						</div>
						<div id="slide3"class="large-6 columns">
							<img src="img/slide12.jpg"/>
							<img src="img/slide9.jpg">
							<img src="img/slide9.jpg">
						<!--<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>-->
						</div>
					</div>
				</div>
			</div><!--end slideshow-->
			 
			<div class="row"><!--bài viết 1-->
				<div class="large-8 columns">
					<h3>This is a content section.</h3>
					<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
					<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

				</div>
				<div id="slideshowHolder" class="large-4 columns">
				   <img src='img/img1.jpg' alt='img1' />
				   <img src='img/img2.jpg' alt='img2' />
				   <img src='img/img3.jpg' alt='img3' />
				</div>
			</div><!--end bài 1-->


			<div id="row1" class="row"><!--bài viết 2-->
				<div class="large-4 columns">
					</br>
					<h3>This is a content section.</h3>
					<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. </p>
				</div>
				<div class="large-8 columns">
					<div class="row">
						<div class="large-6 columns">
							<img src="img/slide7.jpg"/>
						</div>
						<div class="large-6 columns">
							<img src="img/slide8.jpg"/>
						<!--<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>-->
						</div>
					</div>
				</div>
			</div><!--end bài viết 2-->
			 
			<div class="row"><!--bài 3-->
				<div class="large-4 columns">
					<img src="img/slide3.jpg">
				</div>
				<div class="large-8 columns">
					<h3>This is a content section.</h3>
					<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
					<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
				</div>
			</div><!--end bài 3-->
			
			<div id="row1" class="row"><!--bài 4-->
				<div class="large-4 columns">
					</br>
					<h3>This is a content section.</h3>
					<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. </p>
				</div>
				<div class="large-8 columns">
					<div class="row">
						<div class="large-6 columns">
							<img src="img/slide6.jpg"/>
						</div>
						<div class="large-6 columns">
							<img src="img/slide5.jpg"/>
						</div>
					</div>
				</div>
			</div><!--end bài 4-->
			 
			<div class="row"><!--bài 5-->
				<div class="large-4 columns">
					<img src="img/slide4.jpg">
				</div>
				<div class="large-7 columns">
					<h3>This is a content section.</h3>
					<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
					<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
					<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
				</div>
			</div><!--end bài 5-->
			
			<footer class="footer">
			  <div class="row">
			    <div id= "menu_footer"class="small-12 columns">
			      <p class="links">
			        <a href="home.html">Trang chủ</a>
			        <a href="#">Forum</a>
			        <a href="lienhe.html">Liên hệ</a>
			        <a href="home.html">Đăng xuất</a>
					<a href="#"><%= user.local.username %></a>
			      </p>
			      <p class="copywrite">Copyright &copy; KyoeraFox 2016</p>
			    </div>
			  </div>
			</footer>
					  <!-- </div>
				</div> -->
		</main>
</body>
</html>
